* {
    box-sizing: border-boxl 
}

body{
    background-color: #242333;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato';
    margin: 0;
}

.movie-container {
    font-family: 'Lato';
    font-style: italic;
    margin: 20px 0; 
}

.movie-container select{
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-apperance: none;
    -webkit-appearance: none;
    appearance: none;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    margin: 20px 0;
}

#info-container{
    background-color: white;
    color: black;
    width: 40%;
}

#info-container h2{
    width: 100%;
    text-align: center;
}

.info-section{
    margin-left: 5px;
    overflow: auto;
}

.seat-section {
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat {
    background-color: white;
    height: 20px;
    width: 25px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: black;
}

.seat.selected {
    background-color: #eb1333;
}

.seat.occupied {
    background-color: #444451;
    color: white
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}
.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex; /*make horizontal*/
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

section .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.row{
    display: flex;
}

.screen {
    background-color: white;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg); /*make screen thiner*/
    box-shadow: 0 3px 10px rgba(255,255,255,0.7); /*0.7 makes screen looks lighter*/
}
p.text {
    margin: 5px 0;
}

p.text span {
    color: #f7a6b2;
}

/* Reset button */
button {
    border: none;
    border-radius: 8px;
    background-color: #bf1b36; 
    color: white;
    padding: 4px 6px;
    margin: 20px 0;
}

button:hover{
    color: red;
    cursor: pointer;
}